
// <!--icons and fonts-->
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'portfolio-font-icons';
  src: url('fonts/portfolio-font-icons.eot?95073271');
  src: url('fonts/portfolio-font-icons.eot?95073271#iefix') format('embedded-opentype'), url('fonts/portfolio-font-icons.woff2?95073271') format('woff2'), url('fonts/portfolio-font-icons.woff?95073271') format('woff'), url('fonts/portfolio-font-icons.ttf?95073271') format('truetype');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'LatoWebLight';
  src: url('fonts/Lato-Light.eot');
  src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('fonts/Lato-Light.woff2') format('woff2'),
  url('fonts/Lato-Light.woff') format('woff'),
  url('fonts/Lato-Light.ttf') format('truetype');

  text-rendering: optimizeLegibility;
}
[class*=' icon-']:before, [class^='icon-']:before {
  display: inline-block;
  width: 1em;
  text-align: center;
  text-decoration: inherit;
  font-weight: normal;
  font-style: normal;
  font-family: 'portfolio-font-icons';
}
.icon-file-pdf:before {
  content: '\e803';
}
.icon-female:before {
  content: '\e804';
}
.icon-graduation-cap:before {
  content: '\e807';
}
.icon-briefcase:before {
  content: '\e808';
}
// <!--icons and fonts-->

@mixin transition {
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}
html {
  font-size: 10px;
}
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  background: url('img/bg.png') repeat-y fixed;
  background-size: cover;
  font-family: 'LatoWebLight';
}

.flex-container {
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}

// <!--animations-->
.first-screen {
  position: absolute;
  top: 50%;
  margin: auto;
  width: 100%;
  transform: translateY(-50%);
  animation: fadeIn 0.5s linear 5.8s reverse forwards;
}

.first-screen:after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.4rem;
  height: 37rem;
  border-radius: 0.4rem;
  background: #fff;
  box-shadow: 0.2rem 0.2rem 0 rgba(32,53,138,0.5);
  content: '';
  transform: translateX(-50%);
  animation: open 0.4s linear forwards, open 0.6s linear 5s reverse forwards;
}

.animation-wrap {
  overflow: hidden;
  box-sizing: border-box;
  padding: 3rem;
  width: 50%;
  height: 100%;
  text-align: right;
  font-size: 5rem;
  line-height: 7rem;
  span {
    display: block;
    color: #fff;
    text-shadow: 0.2rem 0.2rem 0 rgba(32,53,138,0.5);
    font-weight: 500;
  }
}

.animation-left {
  .animation-top {
    opacity: 1;
    animation: slideLeft 0.5s ease 0.6s backwards;
  }
  .animation-mid {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 8rem;
    line-height: 12rem;
    animation: slideLeft 0.5s ease 1.2s backwards;
  }
  .animation-bottom {
    animation: slideLeft 0.5s ease 1.8s backwards;
  }
}

.animation-right .animation-mid {
  overflow: hidden;
  box-sizing: border-box;
  width: 32rem;
  height: 32rem;
  border: 1.5rem solid #fff;
  border-radius: 50%;
  background: #fff url('img/a.jpg') 0 0 no-repeat;
  background-size: 38rem;
  box-shadow: 0.4rem 0.4rem 0 rgba(32,53,138,0.5);
  animation: slideRight 0.5s ease 2.4s backwards;
}

.second-screen {
  animation: fadeIn 1s linear 6.4s backwards;
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    width: 60%;
    color: #fff;
    text-align: center;
    text-shadow: 0.3rem 0.3rem 0 rgba(32,53,138,0.5);
    font-size: 6rem;
    transform: translate(-50%, -50%);
  }
}

@keyframes open {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}
// <!--animations-->

// <!--menu-->
.main-footer, .main-menu {
  box-sizing: border-box;
  padding: 1rem;
  height: 9rem;
  background: rgba(55,128,179,0.2);
  animation: fadeIn 1s linear 6.4s backwards;
}
.main-menu {
  margin-bottom: 1.5rem;
  ul {
    margin: 0 auto;
    width: 80%;
    list-style: none;
  }
  li {
    margin-right: 1rem;
    width: 17rem;
    height: 8rem;
  }
  li:last-child {
    margin-right: 0;
  }
  .menu-item {
    position: relative;
    z-index: 100;
    display: inline-block;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
    font-size: 2.2rem;
    font-family: 'Noto Sans', sans-serif;
    cursor: default;

    @include transition;
    .menu-info, [class^='icon-'] {
      position: absolute;
      top: 10px;
      left: 50%;
      box-sizing: border-box;
      color: #fff;
      text-shadow: 0.2rem 0.2rem 0 rgba(32,53,138,0.5);
      transform: translate(-50%);

      @include transition;
    }
    [class^='icon-'] {
      opacity: 0;
    }
  }
  .menu-item::after, .menu-item::before {
    position: absolute;
    top: 0;
    width: 17rem;
    height: 1px;
    background: #fff;
    content: '';
  }
  .menu-item::after {
    opacity: 0;
  }
  .menu-item:hover .menu-info {
    top: 50%;
  }
  .menu-item:hover [class^='icon-'] {
    opacity: 1;
  }
  .menu-item:hover::before {
    height: 0.5rem;
  }
  .menu-item:hover::after {
    top: 100%;
    opacity: 1;
  }
}
// <!--menu-->

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  box-sizing: border-box;
  padding-top: 10rem;
  width: 100%;
  height: 100%;
  background: rgb(153,204,51);
  font-size: 1.8rem;
}

.container {
  position: absolute;
  top: 23rem;
  right: 0;
  bottom: 9rem;
  left: 0;
  overflow: auto;
  margin: auto;
  width: 70%;
}

.overlay-wrap {
  display: flex;
  margin: 0 auto;
  width: 100%;

  align-items: center;
}

.overlay h2 {
  position: relative;
  margin: 1rem auto 5rem;
  padding: 0 2.5rem;
  border-bottom: 0.7rem solid rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.2);
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.3rem rgba(255,255,255,0.1);
  font-size: 6rem;
}
.overlay h2::after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border-right: 0.7rem solid rgba(0,0,0,0.2);
  border-bottom: 0.7rem solid rgba(0,0,0,0.2);
  background: rgb(153,204,51);
  content: '';
  transform: translate(-50%, -30%) rotate(45deg);
}

.date-column {
  box-sizing: border-box;
  padding-right: 20px;
  width: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}

.text-column {
  position: relative;
  box-sizing: border-box;
  padding: 2rem;
  padding-right: 0.5rem;
  width: 80%;
  border-left: 0.3rem solid rgba(0,0,0,0.2);
}

.text-column::before {
  position: absolute;
  top: 50%;
  left: -0.15rem;
  width: 1rem;
  height: 1rem;
  border: 0.5rem solid #fff;
  border-radius: 50%;
  background: rgb(153,204,51);
  content: '';
  transform: translate(-50%, -50%);
}
.overlay p {
  margin: 0 auto;
  padding-bottom: 2.5rem;
  text-indent: 3.5rem;
}

.open-link {
  position: relative;
  display: inline-block;
  margin: 5rem auto;
  padding: 0 13rem 0 2rem;
  height: 8rem;
  border: 0.5rem solid #fff;
  background: #70cbc4;
  box-shadow: 0.5rem 0.5rem 0 rgba(32,53,138,0.5);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0 rgba(32,53,138,0.5);
  font: bold 2rem/8rem 'Noto Sans';
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 2.5rem;
    background: #fff;
    color: #70cbc4;
    content: '\e803';
    font: 6rem/8rem portfolio-font-icons;
  }
  &::before {
    position: absolute;
    top: 50%;
    right: 10rem;
    width: 2rem;
    height: 2rem;
    background: #fff;
    content: '';
    transform: translate(50%, -50%) rotate(45deg);
  }
}
.overlay:nth-child(2), .overlay:nth-child(2) .text-column::before, .overlay:nth-child(2) h2::after {
  background: rgb(253,106,98);
}
.overlay:nth-child(3), .overlay:nth-child(3) h2::after {
  background: rgb(96,215,169);
}
.overlay:nth-child(4), .overlay:nth-child(4) h2::after {
  background: rgb(153,136,205);
}
.overlay-slidedown {
  visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
          transition:         transform 0.4s ease-in-out, visibility 0s 0.4s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.open {
  visibility: visible;
  overflow: auto;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
          transition:         transform 0.4s ease-in-out;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.main-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 10rem;
  .inner {
    margin: 1.5rem auto 0;
    width: 80%;
    a {
      z-index: 100;
      margin-right: 2.5rem;
    }
    a:last-child {
      margin-right: 0;
    }
    .left-column {
      margin-right: 2.5rem;
    }
    .long-btn, .short-btn {
      position: relative;
      height: 4rem;
      border-radius: 0.2rem;
      box-shadow: 0 1px 1px rgba(0,0,0,0.5);
      cursor: pointer;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        box-sizing: border-box;
        width: 4rem;
        height: 4rem;
        border-radius: 2px 0 0 2px;
        color: #fff;
        content: '';
        text-align: center;
        text-decoration: none;
        font: 2rem/4rem portfolio-font-icons;
      }
      &:hover::before {
        text-shadow: 0 0 1px #fff;
      }
    }
    .short-btn {
      width: 4rem;
      &.icon-facebook:before {
        background: linear-gradient(to bottom, #47c 0%, darken(#47c, 10%) 100%);
        content: '\e805';
      }
      &.icon-vkontakte:before {
        background: linear-gradient(to bottom, #507299 0%, darken(#507299, 10%) 100%);
        content: '\e806';
      }
    }
    .long-btn {
      padding: 0 0 0 4rem;
      width: 21rem;
      background: rgba(255,255,255,0.5);
      color: #555;
      text-align: center;
      text-decoration: none;
      font: 700 1.6rem/4rem 'Quattrocento Sans', sans-serif;
      &.icon-at:before {
        background: linear-gradient(to bottom, #168de2 0%, darken(#168de2, 10%) 100%);
        content: '\e809';
      }
      &.icon-phone-squared:before {
        background: linear-gradient(to bottom, #e63b3b 0%, darken(#e63b3b, 10%) 100%);
        content: '\e80a';
      }
    }
  }
}
// @media all and (max-width: 320px) {
//     html {
//         font-size: 3.125;
//     }
// }
// @media all and (max-width: 504px) {
//   .main-footer {
//     height: 19rem;
//     .left-column, .right-column {
//       width: 100%;
//     }
//     .right-column {
//       .short-btn {
//         order: 2;
//       }
//       .long-btn {
//         order: 1;
//         margin: 0;
//       }
//     }
//   }
// }

@media all and (max-width: 589px) {
  html {
    font-size: 6px;
  }
}

@media all and (min-width:590px) and (max-width: 635px) {
  html {
    font-size: 6.5px;
  }
}

@media all and (min-width:636px) and (max-width: 725px) {
  html {
    font-size: 7px;
  }
}
// .main-menu {
//     height: 18rem;
//     ul {
//         width: 50%;
//     }
//     li {
//         width: 40%;
//     }
//     li:nth-child(2n) {
//         margin-right: 0;
//     }
// }
// .second-screen {
//     top: 25rem;
// }
@media all and (min-width:726px) and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}
@media all and (min-width:769px) and (max-width: 908px) {
  html {
    font-size: 8.5px;
  }
  // .main-menu {
  //     height: 18rem;
  //     ul {
  //         width: 50%;
  //     }
  //     li {
  //         width: 40%;
  //     }
  //     li:nth-child(2n) {
  //         margin-right: 0;
  //     }
  // }
  // .second-screen {
  //     top: 25rem;
  // }
}
